:root {
  --primary-color: rgb(110, 54, 240);
  --secondary-color: rgb(82, 85, 255);
  --primary-highlight-color: rgb(137, 87, 255);
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
body {
  background-color: #191919;
  color: white;
}
.navbar {
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  margin-bottom: 1rem;
  color: white;
}

.navbar-links {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
  font-size: 1.2rem;
  
}

.navbar a:hover {
  border-bottom: 4px solid #222;
  color: white;
}
.container{
  padding-top: 50px;
  display:  flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-container > h3 {
  margin-top: 10px;
}
.form {
  display: flex;
  flex-direction: row;
}
.search-box {
  width: 50vw;
  height: 35px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0;
  font-size: 16px;
  padding-left: 10px;
}
.search-button:hover {
  background-color: var(--primary-highlight-color);
}
.search-style-tray{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.search-style-tray > li {
  margin: 0 10px 0 10px; 
}
.search-style-selector{
  position: absolute;
  z-index: -1;
  background-color: var(--primary-color);
  transition: all 0.3s ease;
  border-radius: 5px;
}
.search-style-button{
  cursor: pointer;

  border: 0;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
}
.live-button-switch{
  color: white;
  background: transparent;
  cursor: pointer;
  border: 0;
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.2s ease;
}
.lbs-active{
  background-color: var(--primary-color);

}
.search-button {
  cursor: pointer;
  border: 0;
  padding: 0 10px 0 10px;
  height: 35px;
  font-size: 16px;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color:  var(--primary-color);
}
.clear-button:hover{
  background-color:  var(--primary-color);
}
.clear-button{
  border-radius: 5px;
  margin-left: 10px;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 0 10px 0 10px;
  height: 35px;
  font-size: 16px;
  color: white;

}
.search-button:hover {
  background-color:  var(--primary-color);
}
.channel-list{
  display: grid;
  grid-template-columns: repeat(6, minmax(200px, 1fr));
  gap: 0.5rem;
  padding: 25px;
  transition: all 0.2s ease;
}
.channel-card h2 {
  font-size: 1.2rem;
}
.channel-card h3 {
  font-size: 0.9rem;
}
.channel-card h4 {
  font-size: 0.8rem;
}
.channel-card .selected {
  width: 90vw;
  height: 90vh;
} 
.channel-card-img {
  width: 200px;
}
.channel-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 2px;
  text-align: center;
  background-color: rgb(230, 230, 230);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  color: #333;
}
.channel-card:hover{
  color: white;
  background-color: var(--primary-color);
  transition: all 0.2s ease;
  cursor: pointer;
}
.channel-profile{

}
.channel-profile > h1 {  font-size: 3.5rem;   }
.channel-profile > h2 {  font-size: 2.3rem;   }
.channel-profile > h3 {  font-size: 1.7rem;   }

.about-page{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 50%;
}
.about-page > h1, .about-page > h2 {
  color: var(--primary-color);
}
.about-page > p{
  text-indent: 2rem;
  margin-bottom: 2rem;
}
.about-page > ul{
  display: flex;
  
  justify-content: space-evenly;
}
.about-page > ul > li {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-page > ul > li > a {
  color: var(--secondary-color);
}
@media only screen and (max-width: 1250px){  .channel-list{ grid-template-columns: repeat(5, minmax(200px, 1fr)); } }
@media only screen and (max-width: 1050px){  .channel-list{ grid-template-columns: repeat(4, minmax(200px, 1fr)); } }
@media only screen and (max-width: 850px){  .channel-list{ grid-template-columns: repeat(3, minmax(200px, 1fr)); } }
@media only screen and (max-width: 600px) {
  .form {
    flex-direction: column;
    width: 100%;
  }
  .search-box{
    margin: auto;
    border-radius: 0px;
    width: 100%;
  }
  .search-button{
    border-radius: 0px;

  }
  .channel-card{
    padding: 0;
  }
  .channel-card-img {
    width: 100vw;
  }
  .channel-card h2 {
    width: 100vw;
    height: 35px;
    line-height: 35px;
    color: white;
    background-color: var(--primary-color);
  }
  .channel-list{ 
    justify-items: center;
    width: 100vw;
    text-align: center;
    grid-template-columns: repeat(1, minmax(200px, 1fr)); 
  }
  .navbar{
    position: fixed;
    z-index: 1;
    display: block;
    padding: 0;
  }
  .menu-tray {
    padding: 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .opened {
    display: block !important;
    top: -6px !important;
  }
  .mobile-menu{
    position: relative;
    display: none;
    top: -400px;
    transition: all 0.2s ease;
  }
  .navbar-links {
    display: flex;
    flex-direction: column;
  }
  .navbar-links > li > a {
    margin: 0;
    font-size: 1.5rem;
    border-bottom: 2px solid rgb(76, 27, 190);
    background-color: var(--primary-color);
    text-align: center;
    display: block;
    width: 100%;
  }
}