:root {
  --primary-color: rgb(110, 54, 240);
  --secondary-color: rgb(82, 85, 255);
  --primary-highlight-color: rgb(137, 87, 255);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

body {
  background-color: #191919;
  color: white;
  scroll-behavior: smooth;
}

.App {
  position: relative;
  min-height: 100vh;
}

.navbar {
  background: -webkit-gradient(linear, left top, right top, from(var(--primary-color)), to(var(--secondary-color)));
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  margin-bottom: 1rem;
  color: white;
}

.navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-links > li > a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
  font-size: 1.2rem;
}

.navbar-links > li > a:hover {
  border-bottom: 4px solid #222;
  color: white;
}

.navbar > a > h1 {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
  font-size: 1.5rem;
}

.container {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-container > h3 {
  margin-top: 10px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.search-box {
  width: 50vw;
  height: 35px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0;
  font-size: 16px;
  padding-left: 10px;
}

.search-button:hover {
  background-color: var(--primary-highlight-color);
}

.search-button {
  cursor: pointer;
  border: 0;
  padding: 0 10px 0 10px;
  height: 35px;
  font-size: 16px;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--primary-color);
}

.clear-button:hover {
  background-color: var(--primary-color);
}

.clear-button {
  border-radius: 5px;
  margin-left: 10px;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 0 10px 0 10px;
  height: 35px;
  font-size: 16px;
  color: white;
}

.search-button:hover {
  background-color: var(--primary-color);
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.home-container > button {
  margin-top: 50px;
  cursor: pointer;
  width: 64px;
  height: 64px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  color: white;
  background-color: transparent;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.home-container > button:hover {
  background-color: var(--primary-color);
}

.channel-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[6];
      grid-template-columns: repeat(6, minmax(200px, 1fr));
  gap: 0.5rem;
  padding: 25px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.channel-card h2 {
  font-size: 1.2rem;
}

.channel-card h3 {
  font-size: 0.9rem;
}

.channel-card h4 {
  font-size: 0.8rem;
}

.channel-card .selected {
  width: 90vw;
  height: 90vh;
}

.channel-card-img {
  width: 200px;
}

.channel-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  padding: 2px;
  text-align: center;
  background-color: #e6e6e6;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #333;
}

.channel-card:hover {
  color: white;
  background-color: var(--primary-color);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

.channel-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.channel-profile > h2 > a,
.channel-profile > h3 > a {
  color: var(--primary-color);
}

.channel-profile > h2 > a:hover {
  color: var(--primary-highlight-color);
}

.channel-profile > h1 {
  font-size: 3.5rem;
}

.channel-profile > h2 {
  font-size: 2.3rem;
}

.channel-profile > h3 {
  font-size: 1.7rem;
}

.channel-profile-image {
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 70vw;
  height: 50vh;
}

.about-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.about-page > h1, .about-page > h2 {
  color: var(--primary-color);
}

.about-page > p {
  text-indent: 2rem;
  margin-bottom: 2rem;
}

.about-page > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about-page > ul > li {
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-page > ul > li > a {
  color: var(--secondary-color);
}

.footer {
  position: absolute;
  height: 50px;
  width: 100%;
  text-align: center;
  bottom: -10px;
}

.footer > a {
  color: var(--secondary-color);
}

.footer > a:hover {
  color: var(--primary-color);
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 60px;
  width: 60px;
  margin: 0px auto;
  -webkit-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 6px solid rgba(110, 54, 240, 0.15);
  border-right: 6px solid rgba(110, 54, 240, 0.15);
  border-bottom: 6px solid rgba(110, 54, 240, 0.15);
  border-top: 6px solid var(--primary-color);
  border-radius: 100%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@media only screen and (max-width: 1250px) {
  .channel-list {
    -ms-grid-columns: (minmax(200px, 1fr))[5];
        grid-template-columns: repeat(5, minmax(200px, 1fr));
  }
}

@media only screen and (max-width: 1050px) {
  .channel-list {
    -ms-grid-columns: (minmax(200px, 1fr))[4];
        grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
}

@media only screen and (max-width: 850px) {
  .channel-list {
    -ms-grid-columns: (minmax(200px, 1fr))[3];
        grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

@media only screen and (max-width: 600px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .search-box {
    margin: auto;
    border-radius: 0px;
    width: 100vw;
  }
  .search-button {
    border-radius: 0px;
  }
  .channel-card {
    padding: 0;
  }
  .channel-card-img {
    width: 100vw;
  }
  .channel-card h2 {
    width: 100vw;
    height: 35px;
    line-height: 35px;
    color: white;
    background-color: var(--primary-color);
  }
  .channel-list {
    justify-items: center;
    width: 100vw;
    text-align: center;
    -ms-grid-columns: (minmax(200px, 1fr))[1];
        grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
  .channel-profile > h4,
  .channel-profile > p {
    padding: 0 25px;
  }
  .channel-profile-image {
    width: 100vw;
    height: 35vh;
  }
  .navbar {
    display: block;
    padding: 0;
    z-index: 5;
  }
  .menu-tray {
    z-index: 5;
    padding: 0.7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-tray button {
    cursor: pointer;
    border: 0;
    background: transparent;
    color: white;
    font-size: 1.5rem;
    padding: 0 0.5rem;
  }
  .mobile-menu {
    position: absolute;
    display: block;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    z-index: 0;
  }
  .navbar-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    border-bottom: 2px solid var(--secondary-color);
  }
  .navbar-links > li > a {
    margin: 0;
    font-size: 1.5rem;
    background-color: #191919;
    border-bottom: 1px solid var(--primary-color);
    text-align: center;
    display: block;
    width: 100%;
  }
  .about-page {
    width: 100%;
    padding: 0 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-page > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .about-page > ul > li {
    text-align: center;
    margin: 15px auto 15px auto;
  }
}
/*# sourceMappingURL=App.css.map */